<div class="container" ng-controller="SeqCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div><a ui-sref="main.techseqs">Вернуться к списку тех.цепочек</a></div>
    <div ng-show="vm.dataIsLoaded && !vm.seq">Тех.цепочка не найдена!</div>
    <fieldset  ng-disabled="!vm.access()" ng-show="vm.dataIsLoaded && vm.seq">
        <h1>Технологическая цепочка {{techseq.html}}
        </h1>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Название</label>

                <div class="col-sm-4">
                    <input class="form-control" ng-model="vm.seq.TECHSEQ_NAME">
                </div>

            </div>

        </div>
        <div class="row">
            <div class="unitsDrag col-sm-4">
                <ul dnd-list="vm.units">
                    <li ng-repeat="item in vm.units"
                            >
                        {{item.OPERATION_NAME}}
                    </li>
                </ul>
            </div >
        </div>
    </fieldset>
</div>
