<div class="container" ng-controller="SeqsCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>Технологические цепочки

    </h1>

    <form name="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4">
                <button type="button" class="btn btn-success"
                        ng-show="!vm.isCreating && vm.access()"
                        ng-disabled="vm.loading"
                        ng-click="vm.createClick()"> Добавить
                </button>
                <button type="submit"
                        ng-show="vm.isCreating"
                        ng-click="vm.create()"
                        ng-disabled="vm.loading"
                        class="btn btn-success">Сохранить
                </button>
                <button type="button" class="btn btn-danger"
                        ng-show="vm.isCreating"
                        ng-disabled="vm.loading"
                        ng-click="vm.cancelCreate()"> Отмена
                </button>
            </div>
        </div>
        <div class="form-group" ng-show="vm.isCreating">
            <div class="col-sm-8" >
                <div class="form-group">
                    <label class="col-sm-3 control-label">Название</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="vm.newSeq.name">
                    </div>
                </div>
            </div>
        </div>


    </form>
    <div ng-show="vm.dataIsLoaded && vm.seqs.length == 0">Тех.цепочек еще нет</div>
    <div ui-grid="vm.gridOptions1" ng-if="vm.dataIsLoaded && vm.seqs.length" class="grid">
    </div>

</div>
