<div class="container" ng-controller="SeqCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div><a ui-sref="main.techseqs">Вернуться к списку тех.цепочек</a></div>
    <div ng-show="vm.dataIsLoaded && !vm.seq">Тех.цепочка не найдена!</div>
    <div ng-show="vm.dataIsLoaded && vm.seq">
        <h1>Редактирование технологической цепочки
        </h1>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Название</label>

                <div class="col-sm-4">
                    <input class="form-control" ng-model="vm.newSeqName">
                </div>

                <div class="col-sm-6">
                    <button
                            ng-show="vm.seqNameChanged()"
                            ng-click="vm.updateSeqName()"
                            class="btn btn-primary">Обновить название
                    </button>
                    <button
                            ng-disabled="vm.loading"
                            ng-click="vm.removeSeq()"
                            class="btn btn-danger">Удалить цепочку
                    </button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="unitsDrag col-sm-4">
                <ul dnd-list="vm.units">
                    <li ng-repeat="item in vm.units"
                        dnd-draggable="item"
                        dnd-moved="vm.units.splice($index, 1); vm.saveSeq();"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                            >
                        {{item.OPERATION_NAME}}
                        <a class="pull-right"
                           ng-click="vm.removeUnit(item)"
                           ng-show="!vm.loading">
                                <span class="glyphicon glyphicon-remove "
                                      style="  font-size: 18px;"
                                      title="Удалить"
                                        ></span>
                        </a>

                    </li>
                </ul>
            </div >
            <div class="col-sm-5" ng-show="vm.operations.length">
                <label class="control-label">Новая единица</label>
                <div class="form-group">
                    <ui-select
                            style="width:300px;"
                            ng-model="vm.newUnit" theme="bootstrap"
                            >
                        <ui-select-match placeholder="Выберете операцию...">
                            {{$select.selected.OPERATION_NAME}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="o in vm.operations | filter: {OPERATION_NAME: $select.search}">
                            <div>{{o.OPERATION_NAME}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button
                        ng-disabled="vm.loading"
                        ng-click="vm.addUnit()"
                        class="btn btn-success">Добавить элемент
                </button>

            </div>
        </div>
    </div>
</div>
