<div class="container"  ng-controller="AuthCtrl as vm">
    <div class="col-xs-4">
        <h1>Вход</h1>

        <hr>

        <div class="alerts-container"></div>
        <!-- LOGIN FORM -->
        <form ng-submit="vm.login(form)">
            <div class="form-group">
                <label>Логин</label>
                <input type="text" class="form-control" ng-model="form.login">
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control" ng-model="form.password">
            </div>

            <input type="submit" class="btn btn-primary  btn-lg " id="submit" value="Войти" />
        </form>

        <hr>

        <p>Или перейдите на <a ui-sref="main.hello">Главную</a>.</p>


    </div>
</div>