<div class="container" ng-controller="UsersCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <accordion close-others="vm.oneAtATime">
        <accordion-group heading="Регистрация новых пользователей" >
            <div class="alerts-container"></div>

            <form ng-submit="vm.register(vm.form)" style="width: 400px">
                <div class="form-group">
                    <label>Логин</label>
                    <input type="text" class="form-control" ng-model="vm.form.login">
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" class="form-control" ng-model="vm.form.password">
                </div>
                <div class="form-group">
                    <label>Роль</label>
                    <select ng-model="vm.form.role_id" class="form-control"
                            ng-options="role.ROLE_ID as role.ROLE_NAME for role in vm.roles">
                    </select>
                </div>
                <input type="submit" class="btn btn-primary  btn-lg " id="submit" value="Зарегистрировать"/>
            </form>
        </accordion-group>
        <accordion-group heading="Мониторинг пользователей" is-open="vm.isOpen">
            <p ng-hide="!vm.started || vm.users.length">Нет пользователей</p>
            <table class="table" ng-show="vm.users.length" >
                <tr>
                    <th >Логин</th>
                    <th>Роль</th>
                    <th>Был создан</th>
                    <th>Удалить</th>
                </tr>
                <tr ng-repeat="user in vm.users">
                    <td ng-class="{'text-danger' : user.ROLE_ID == 1}">{{user.USER_LOGIN}}</td>
                    <td>{{user.ROLE_NAME}}</td>
                    <td>{{user.DATE_CREATE | date : 'hh.mm dd.MM.yy'}}</td>
                    <td ><a ng-show="!vm.loading">
                                <span class="glyphicon glyphicon-remove"
                                      ng-click="vm.remove(user.USER_ID)"
                                      title="Удалить"
                                      style="font-size: 20px;"
                                        ></span>
                    </a>
                    </td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>
