<div class="container" ng-controller="NewOrderCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div><a ui-sref="main.orders">Вернуться к списку заказов</a></div>
    <h1>Новый заказ</h1>

    <form class="form-horizontal" name="form">
        <div class="form-group"
             ng-class="{'has-error': form.numer.$dirty && form.numer.$invalid}">
            <label class="col-sm-2 control-label">Номер</label>

            <div class="col-sm-10">
                <input type="number" name="numer" step="1" min="1" class="form-control" ng-model="vm.order.no" style="width: 100px">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Заказчик</label>

            <div class="col-sm-10">
                <input class="form-control" ng-model="vm.order.company">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Контакты заказчика</label>

            <div class="col-sm-10">
                <input class="form-control" ng-model="vm.order.contact">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.order.important"
                               ng-true-value="1" ng-false-value="0"
                                > Срочный
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"
                        ng-click="vm.createOrder()"
                        class="btn btn-primary">Создать
                </button>
            </div>
        </div>
    </form>

</div>
