<div class="container" ng-controller="OrdersCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>Заказы
        <button type="button" class="btn btn-success"
                ng-disabled="vm.loading"
                ng-click="vm.createOrder()"
                ng-show="vm.checkRole([1,3])"> Добавить
        </button>

        <button type="button" class="btn btn-primary"
                ng-disabled="vm.loading"
                ng-click="vm.planToMonth()"> Заказы на месяц
        </button>

        <upload api-name="'/api/purchase/add/excel'"
                accept="'.xlsx,.xls'"
                title="'Импорт файла'"
                callback="vm.load()"
                style="display: inline-block;"
                ng-show="vm.checkRole([1,3])">
        </upload>
    </h1>
    <div ng-show="vm.dataIsLoaded && vm.orders.length == 0">Заказов еще нет</div>
    <div ui-grid="vm.gridOptions1" ng-if="vm.dataIsLoaded && vm.orders.length" class="grid">
    </div>


</div>
