<fieldset class="container" ng-controller="OrderCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div><a ui-sref="main.orders">Вернуться к списку заказов</a></div>
    <div ng-show="vm.dataIsLoaded && !vm.order">Заказ не найден!</div>
    <fieldset ng-disabled="!vm.checkRole([1,3])" ng-show="vm.dataIsLoaded && vm.order">
        <h1>Заказ № {{vm.order.PURCHASE_NO}} от {{vm.order.PURCHASE_REGDATE | date:'dd.MM.yyyy'}}
        </h1>

        <div class="row" style="margin-bottom: 10px">
            <label class="col-xs-2 control-label">Номер</label>
            <label class="col-xs-5 control-label">Заказчик</label>
            <label class="col-xs-5 control-label">Контакты заказчика</label>

        </div>
        <div class="row" style="margin-bottom: 10px">
            <div ng-form="form" class="col-xs-2" ng-class="{'has-error': form.numer.$dirty && form.numer.$invalid}">
                <input type="number" name="numer" step="1" min="1"
                       class="form-control" ng-model="vm.order.PURCHASE_NO">
            </div>
            <div class="col-xs-5">
                <input class="form-control" ng-model="vm.order.PURCHASE_COMPANY">
            </div>
            <div class="col-xs-5">
                <input class="form-control" ng-model="vm.order.PURCHASE_CONTACT">
            </div>
        </div>
        <div style="margin-bottom: 10px">
            <a ng-click="vm.changeImportant()">
                                <span class=" glyphicon "
                                      ng-class="{'glyphicon glyphicon-unchecked': !vm.order.PURCHASE_IMPORTANT,
                                                  'glyphicon glyphicon-check': vm.order.PURCHASE_IMPORTANT}"
                                        >
                                                  </span>
                <span>Срочный</span>
            </a>
        </div>
        <div style="margin-bottom: 10px">
            <a ng-click="vm.changeConfirm()">
                                <span class=" glyphicon "
                                      ng-class="{'glyphicon glyphicon-unchecked': !vm.order.PURCHASE_CONFIRM,
                                                  'glyphicon glyphicon-check': vm.order.PURCHASE_CONFIRM}"
                                        >
                                                  </span>
                <span>Подтвержден</span>
            </a>
        </div>
        <button
                ng-show="vm.orderIsChanged()"
                ng-click="vm.changeOrder()"
                class="btn btn-primary">Сохранить изменения
        </button>

        <h3>Кабели</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="cabel in vm.cablesCopy" ng-show="vm.cables.length ">
                    <a class="pull-right"
                       ng-click="vm.removeCabel(cabel)"
                       ng-show="!vm.loading && vm.checkRole([1,3])">
                                <span class="glyphicon glyphicon-remove"
                                      title="Удалить кабель"
                                      style="font-size: 20px;"
                                        ></span>
                    </a>

                    <div class="row" style="margin-bottom: 5px">
                        <div class="col-xs-3">
                            <label class="control-label">Код:</label>
                            {{cabel.CABLE_ID}}
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label">Дата завершения: </label>
                            {{cabel.CABLE_FINDATE | date: 'dd.MM.yyyy'}}
                        </div>
                        <div class="col-xs-3">
                            <label class="control-label">Объем работы в часах:</label>
                            {{cabel.CABLE_TIMEVOL}}
                        </div>
                    </div>
                    <div order-cable cable="cabel"
                         cable-types="vm.cable_types"
                         cable-structures="vm.cable_structures"
                         access="vm.access()"
                            >
                    </div>
                    <div class="row" 
                         ng-show="!vm.orderIsChanged() && !vm.cableIsChanged(cabel) && vm.order.PURCHASE_CONFIRM == 1 && cabel.CABLE_DONE == 0">
                        <div class="col-xs-9">
                            <table class="table table-bordered">
                                <tr>
                                    <td><strong>Выполнено</strong>/<strong>Всего</strong> операций</td>
                                    <td><strong>Предыдущая</strong>/<strong>Следующая</strong> операция</td>
                                </tr>
                                <tr>
                                    <td>{{cabel.OPERCAB_COUNT_DONE}}/{{cabel.OPERCAB_COUNT}}</td>
                                    <td>
                                        {{cabel.PRE_OPERATION_NAME || 'не определена'}} /
                                        {{cabel.NEXT_OPERATION_NAME || 'не определена'}}

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row"
                         ng-show="!vm.orderIsChanged() && !vm.cableIsChanged(cabel) && vm.order.PURCHASE_CONFIRM == 0">
                        <div class="col-xs-7">
                            <label class="control-label">Состояние:</label>
                            Заказ не подтвержден
                        </div>
                    </div>
                    <div class="row"
                         ng-show="!vm.orderIsChanged() && !vm.cableIsChanged(cabel) && cabel.CABLE_DONE == 1">
                        <div class="col-xs-7">
                            <label class="control-label">Состояние:</label>
                            Готов
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-3">
                            <a ng-click="vm.changeCableDone(cabel)">
                                <span class=" glyphicon "
                                      ng-class="{'glyphicon glyphicon-unchecked': !cabel.CABLE_DONE,
                                                  'glyphicon glyphicon-check': cabel.CABLE_DONE}"
                                        >
                                                  </span>
                                <span>Изготовлен</span>
                            </a>
                        </div>
                    </div>
                    <button
                            ng-show="vm.cableIsChanged(cabel)"
                            ng-click="vm.saveCable(cabel)"
                            class="btn btn-primary"
                            >Сохранить изменения
                    </button>
                    <hr>
                </div>

                <div>
                    <div class="row">
                        <div class="col-sm-2" ng-show="!vm.isNewCabel && vm.checkRole([1,3])">
                            <button
                                    ng-click="vm.addCabel()"
                                    class="btn btn-primary">Добавить кабель
                            </button>
                        </div>
                        <div class="col-sm-1" ng-show="vm.isNewCabel">
                            <button
                                    ng-click="vm.cancelAddCabel()"
                                    class="btn btn-danger">Отмена
                            </button>
                        </div>
                        <div class="col-sm-2" ng-show="vm.isNewCabel">
                            <button type="submit"
                                    ng-click="vm.createCabel()"
                                    class="btn btn-success">Сохранить кабель
                            </button>
                        </div>

                    </div>
                    <div ng-show="vm.isNewCabel">
                        <div order-cable cable="vm.newCabel"
                             cable-types="vm.cable_types"
                             cable-structures="vm.cable_structures"
                             access="vm.access()"
                             create="true">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>

    </div>
