/* app css stylesheet */

html, body {
    height: 100%;
    width: 100%;
    min-width: 1000px;
}
 
.app-header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    height: 75px;
}

.app-footer {
    padding-top: 5px;
    height: 30px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    margin-bottom:0px;
}

.app-content {
    min-width: 700px;
    min-height: 100%;
    padding-top: 10px;
    background-color: rgb(244, 244, 244);
    background-image: linear-gradient(to bottom, rgba(244,244,244,1) 0, rgba(219,219,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(244,244,244,1)',
            endColorstr='rgba(219,219,219,1)', GradientType=0);
    background-repeat: repeat-x;

   }

.app-link {
    font-size: 20px;
    font-family: initial;
    height: 53px;
}

.alert.top{
    top: 60px;
}

.spinner {
    width: 100px;
    height: 100px;
    background-image: url("../img/5.GIF");
    position: fixed;
    z-index: 1000;
    left: 45%;
}

.spinner-small {
    width: 34px;
    height: 34px;
    background-image: url("../img/55.GIF");
}

.app-brand {
    font-size: 25px;
    color: black;
}
.brand_img {
    height: 70px;
}

.grid {
    width: 100%;
}

.grid1 {
    width: 1100px;
    height: 400px;
}

.grid_conteiner {
    position: absolute;
    top: 145px;
    bottom: 40px;
    min-width: 720px;
    min-height: 300px;
    left: 80px;
    right: 80px;
}

.grid_cell-center {
    text-align: center;
}

.grid_cell-select {
    padding-top: 5px;
    width: 200px;
    border-radius: 4px;
}

.unitsDrag {

}
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.unitsDrag ul[dnd-list],
.unitsDrag ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.unitsDrag ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.unitsDrag ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.unitsDrag ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.unitsDrag ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.unitsDrag ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.border_left{
    border-left: 2px solid #049e07;
    border-left-color: rgb(221, 47, 49);
    border-left-style: solid;
    border-left-width: 2px;
    color:red
}

.am-fade {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    opacity: 1;
}
