doctype html
html(lang="en")
    head
        style(type='text/css').
            body {
                width: 210mm;
                height: 297mm;
                font: 10pt "Arial";
            }

            .right-data {
                float: right;
                font-weight: normal;
            }
            .header {
                text-align: center;
            }
            table.bordered { width:100%; border: 2px solid black;border-collapse: collapse;
                margin-top: 3px;}
            table.bordered td { border: 1px solid black; padding: 5px; text-align: center;}
            table.bordered th { border: 1px solid black; padding: 5px; text-align: center;}
        meta(charset='utf-8')
        title Наряд № #{detail_id}
    body

        h3(class='header')
            | Наряд № #{detail_id}
            span(class='right-data') Дата __.__.__

        each val, index in data
            table
                tr
                    td(style='width: 130px') Операция:
                    td= val.operation_name
                tr
                    td(style='width: 130px') Оборудование:
                    td= val.machine_name

            table(class='bordered')
                tr
                    td(style='width: 8%;font-size: 10px;', rowspan='2') Начало
                    td(style='width: 8%;font-size: 10px;', rowspan='2') Окончание
                    td(style='width: 30%') Счет
                    td Наименование
                    td(style='width: 11%') Количество
                tr
                    td
                    td Материал
                    td
            each mplans_val, mplans_index in val.mplans
                table(class='bordered')
                    tr
                        td(style='width: 8%', rowspan='#{mplans_val.orders.length + mplans_val.materials.length}')
                            =mplans_val.from
                        td(style='width: 8%', rowspan='#{mplans_val.orders.length + mplans_val.materials.length}')
                            =mplans_val.to

                        each orders_val, orders_index in mplans_val.orders
                            if orders_index
                                tr
                                    td(style='width: 30%')=orders_val.order
                                    td=orders_val.cable
                                    td(style='width: 11%')=orders_val.cable_vol
                            else
                                td(style='width: 30%')=orders_val.order
                                td=orders_val.cable
                                td(style='width: 11%')=orders_val.cable_vol

                        each materials_val, materials_index in mplans_val.materials
                            if !materials_index
                                tr
                                    td(style='width: 30%; text-align:right') Материал:
                                    td
                                        strong=materials_val.material
                                    td(style='width: 11%')
                                        strong=materials_val.material_vol
                            else
                                td(style='width: 30%') Материал
                                td
                                    strong=materials_val.material
                                td(style='width: 11%')
                                    strong=materials_val.material_vol
            br