doctype html
html(lang="en")
    head
        style(type='text/css').
            body {
                width: 210mm;
                height: 297mm;
                font: 10pt "Arial";
            }

            .header {
                text-align: center;
            }

            .machine {
                background-color: yellow;
            }

            .tableheader {
                background-color: aliceblue;
            }

            .tablefooter {
                background-color: lightgreen;
            }

            .machine {
                background-color: yellow;
            }
            table.bordered { width:100%; border: 2px solid black;border-collapse: collapse;
                margin-top: 3px;}
            table.bordered td { border: 1px solid black; padding: 5px; text-align: center;}
            table.bordered th { border: 1px solid black; padding: 5px; text-align: center;}
        meta(charset='utf-8')
        title Задание на смену
    body
        if data.length == 0
            h2 Данных за #{dateFormat(period, "mm.yyyy")} нет
        table(class='bordered')
            each val, index in data
                tr(class='tableheader')
                    td(rowspan='2')=dateFormat(period, "mm.yyyy")
                    td(rowspan='2')
                    td(rowspan='2') Склад
                    td(rowspan='2')
                    td(rowspan='2', colspan='2') Марка продукции
                    td(rowspan='2')
                    td(rowspan='2')
                    td(rowspan='2') Примечание
                    td(rowspan='2') Длина жил, км
                    td(rowspan='2') Диаметр проволки, мм
                    td(rowspan='2') Кол-во жил
                    each m_val, m_index in materials
                        td(colspan='2')=m_val
                tr
                    each m_val, m_index in materials
                        td Норма
                        td Факт

                tr(class='machine')
                    td=val.no
                    td.utility #{dateFormat(val.regdate, "dd.mm")}
                    td
                    td
                    td(colspan='2')=val.company
                    td
                    td
                    td
                    td
                    td
                    td

                    each m_val, m_index in materials
                        td
                        td

                each c_val, c_index in val.cables
                    tr
                        td(rowspan='#{c_val.objects.length}')
                        td(rowspan='#{c_val.objects.length}')
                        td(rowspan='#{c_val.objects.length}').utility #{dateFormat(c_val.to, "dd.mm")}
                        td(rowspan='#{c_val.objects.length}')=c_val.no
                        td(rowspan='#{c_val.objects.length}')=c_val.type
                        td(rowspan='#{c_val.objects.length}')=c_val.structure
                        td(rowspan='#{c_val.objects.length}')=c_val.vol
                        td(rowspan='#{c_val.objects.length}') км
                        td(rowspan='#{c_val.objects.length}')=c_val.desc

                        each o_val, o_index in c_val.objects
                            if o_index
                                tr
                                    td=o_val.vol
                                    td=o_val.squere
                                    td=o_val.count
                                    each m_val, m_index in materials
                                        each mat_val, mat_index in o_val.materials
                                            if m_index==mat_val.id
                                                td=mat_val.norm
                                                td=mat_val.vol
                                            else
                                                td
                                                td
                            else
                                td=o_val.vol
                                td=o_val.squere
                                td=o_val.count
                                each m_val, m_index in materials
                                    each mat_val, mat_index in o_val.materials
                                        if m_index==mat_val.id
                                            td=mat_val.norm
                                            td=mat_val.vol
                                        else
                                            td
                                            td

            br