doctype html
html(lang="en")
    head
        style(type='text/css').
            body {
                width: 210mm;
                height: 297mm;
                font: 10pt "Arial";
            }

            .header {
                text-align: center;
            }

            .machine {
                background-color: yellow;
            }

            .tableheader {
                background-color: aliceblue;
            }

            .tablefooter {
                background-color: lightgreen;
            }

            .machine {
                background-color: yellow;
            }
            table.bordered { width:100%; border: 2px solid black;border-collapse: collapse;
                margin-top: 3px;}
            table.bordered td { border: 1px solid black; padding: 5px; text-align: center;}
            table.bordered th { border: 1px solid black; padding: 5px; text-align: center;}
        meta(charset='utf-8')
        title Задание на смену
    body

        h3(class='header')
            | Задание на смены #{from} - #{to}

        each val, index in data

            table(class='bordered')
                tr
                    td(class='machine', colspan='10')=val.machine_name
                tr(class='tableheader')
                    td Длина, м
                    td Номер заказа
                    td Операция
                    td Примечание
                    td Объект
                    td Тип кабеля
                    td Сечение
                    td Длина, км
                    td Время работы, ч
                    td Выработка, км/8 ч

                each mplans_val, mplans_index in val.mplans
                    tr
                        td=mplans_val.vol * 1000
                        td № #{mplans_val.order_no}
                        td=mplans_val.operation
                        td=mplans_val.cable_desc
                        td=mplans_val.obj_name
                        td=mplans_val.cabltype
                        td=mplans_val.structure
                        td.utility #{sprintf("%1.2f", mplans_val.vol)}
                        td=mplans_val.duration
                        td.utility #{sprintf("%1.2f", mplans_val.norm_vol)}

                tr(class='tablefooter')
                    td(colspan='5') ИНЖЕНЕР ПО ПЛАНИРОВАНИЮ
                    td(colspan='5') ПАВЛЫГО Е.С.


            br