<div class="container" ng-controller="DetailsCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>Наряды
    </h1>

    <form name="form" class="form-horizontal" ng-if="vm.dataIsLoaded">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success"
                        ng-show="!vm.isCreating && vm.checkRole([1,2,3])"
                        ng-disabled="vm.loading"
                        ng-click="vm.createClick()"> Добавить
                </button>
                <button type="button" class="btn btn-danger"
                        ng-show="vm.isCreating"
                        ng-disabled="vm.loading"
                        ng-click="vm.cancelCreate()"> Отмена
                </button>
                <button type="submit"
                        ng-show="vm.isCreating"
                        ng-click="vm.createDetail()"
                        ng-disabled="vm.loading"
                        class="btn btn-success">Сохранить
                </button>

            </div>

        </div>
        <div ng-show="vm.isCreating ">
            <div class="form-group">
                <label class="col-sm-3 control-label">Дата</label>

                <div class="col-sm-2" style="min-width: 200px;">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy"
                               ng-model="vm.newDetail.date"
                               is-open="openedDate" min-date="'2015-01-01'" max-date="'2020-01-01'"
                               datepicker-options="{'starting-day': 1}" show-button-bar="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="$event.stopPropagation();openedDate=!openedDate"><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span>
                    </p>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Тип</label>

                <div class="col-sm-4">
                    <ui-select ng-show="detailTypes.length"
                               ng-model="vm.newDetail.DETAILTYPE_ID" theme="bootstrap"
                            >
                        <ui-select-match placeholder="Введите тип...">
                            {{$select.selected.DETAILTYPE_NAME}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="t.DETAILTYPE_ID as t in detailTypes | filter: {DETAILTYPE_NAME: $select.search}">
                            <div>{{t.DETAILTYPE_NAME}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Станок</label>

                <div class="col-sm-4">
                    <ui-select ng-show="machines.length"
                               ng-model="vm.newDetail.MACHINE_ID" theme="bootstrap"
                            >
                        <ui-select-match placeholder="Введите станок...">
                            {{$select.selected.MACHINE_NAME}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="m.MACHINE_ID as m in machines | filter: {MACHINE_NAME: $select.search}">
                            <div>{{m.MACHINE_NAME}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <hr>
        </div>

    </form>

    <div class="row" ng-if="vm.dataIsLoaded">

        <div class="col-xs-2" style="  min-width: 200px;">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="vm.dateFrom"
                       is-open="openedFrom" min-date="'2015-01-01'" max-date="vm.dateTo"
                       datepicker-options="{'starting-day': 1}" show-button-bar="false"
                       placeholder="Дата начала"
                       ng-change="vm.load()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="$event.stopPropagation();openedFrom=!openedFrom"><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span>
            </p>
        </div>

        <div class="col-xs-2" style="  min-width: 200px;">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="vm.dateTo"
                       is-open="openedTo" min-date="vm.dateFrom" max-date="'2020-01-01'"
                       datepicker-options="{'starting-day': 1}" show-button-bar="false"
                       placeholder="Дата конца"
                       ng-change="vm.load()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$event.stopPropagation();openedTo=!openedTo"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="row" ng-if="vm.dateFrom && vm.dateTo">
            <div class="col-xs-2">
                <a target="_blank" ng-href="/api/mplan/date/print?from={{vm.dateFrom.toISOString()}}&to={{vm.dateTo.toISOString()}}">Задание на смены</a>
            </div>
        </div>

    </div>

    <div ng-show="vm.dataIsLoaded && vm.list.length == 0">Нарядов нет</div>
    <div ui-grid="vm.gridOptions1" ui-grid-edit  ui-grid-row-edit ng-if="vm.dataIsLoaded && vm.list.length" class="grid">
    </div>


</div>
