<div class="container" ng-controller="DetailCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div><a ui-sref="main.details">Вернуться к списку нарядов</a></div>
    <div ng-show="vm.dataIsLoaded && !vm.detail">Наряд не найден!</div>
    <div ng-show="vm.dataIsLoaded && vm.detail">
        <h1>Наряд № {{vm.detail.DETAIL_ID}} на {{vm.detail.DETAIL_DATE | date: 'dd.MM.yyyy'}}, станок {{vm.detail.MACHINE_NAME}}
            <button
                    ng-show="vm.mplanIsChanged()"
                    ng-click="vm.saveMplan()"
                    class="btn btn-primary">Сохранить изменения
            </button>
        </h1>

        <div class="row">
            <div class="unitsDrag col-sm-5" style="min-width: 450px">
                <label>План по наряду</label>
                <ul dnd-list="vm.mplanOperations">
                    <li ng-repeat="item in vm.mplanOperations"
                        dnd-draggable="item"
                        dnd-moved="vm.mplanOperations.splice($index, 1); "
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                            >
                        <div class="pull-right">
                            <a ng-click="vm.editMplanOperation(item)" class="text-success"
                               ng-hide="vm.mplanIsChanged()">
                                <span class="glyphicon glyphicon-pencil "
                                      style="  font-size: 18px;"
                                      title="Редактировать"
                                        ></span>
                            </a>
                            <a ng-click="vm.removeMplanOperation(item)" class="text-danger">
                                <span class="glyphicon glyphicon-remove "
                                      style="  font-size: 18px;"
                                      title="Удалить"
                                        ></span>
                            </a>
                        </div>

                        {{item.OPERATION_NAME}} ({{item.OBJ_NAME}}
                        {{item.MPLAN_VOL ? ', ' + item.MPLAN_VOL : ''}}
                        {{item.MPLAN_DURATION ? ', ' + item.MPLAN_DURATION : ''}})
                        <br>
                        <span ng-show="item.MPLAN_DONE"
                                style="color:red">ВЫПОЛНЕНО
                        </span>

                    </li>
                </ul>
            </div >
            <div class="col-sm-7" >
                <label ng-show="vm.dataIsLoaded && vm.operations.length == 0">Стек операций пустой</label>
                <label  ng-if="vm.dataIsLoaded && vm.operations.length">Стек операций</label>
                <div ui-grid="vm.gridOptions1" ng-if="vm.dataIsLoaded && vm.operations.length" class="grid">
                </div>
            </div>
        </div>
    </div>
</div>
