<div class="container" ng-controller="CablestructureCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div><a ui-sref="main.cablestructures">Вернуться к списку сечений</a></div>
    <div ng-show="vm.dataIsLoaded && !vm.cablestructure">Сечение не найдено!</div>

    <fieldset ng-disabled="!vm.checkRole([1,2])" ng-show="vm.dataIsLoaded && vm.cablestructure">
        <h1>Сечение № {{vm.cablestructure.CABLESTRUCTURE_ID}}
        </h1>

        <form class="form-horizontal" name="form">
            <div class="form-group">
                <label class="col-sm-3 control-label">Название</label>

                <div class="col-sm-9">
                    <input class="form-control" ng-model="vm.cablestructure.CABLESTRUCTURE_NAME">
                </div>
            </div>
            <div class="form-group">
                <div class=" col-sm-10">
                    <button
                            ng-show="vm.cablestructureIsChanged()"
                            ng-click="vm.changeCablestructure()"
                            class="btn btn-primary">Сохранить изменения
                    </button>
                </div>
            </div>
        </form>

        <h3>Группы жил</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="rc in vm.realcspartsCopy">
                    <a class="pull-right"
                       ng-click="vm.removeRealcspart(rc)"
                       ng-show="!vm.loading && vm.checkRole([1,2])">
                                <span class="glyphicon glyphicon-remove"
                                      title="Удалить группу"
                                      style="font-size: 20px;"
                                        ></span>
                    </a>
                    <div class="row" style="margin-top: 10px" >
                        <div class="col-xs-4">
                            <label class="control-label">Группа жил</label>
                            <div>{{rc.REALCSPART_NAME}}</div>
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label">Цвет</label>
                            <ui-select ng-show="vm.colors.length"
                                       ng-model="rc.CSPART_COLOR_ID" theme="bootstrap"
                                    >
                                <ui-select-match placeholder="Введите цвет...">
                                    {{$select.selected.COLOR_NAME}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="color.COLOR_ID as color in vm.colors | filter: {COLOR_NAME: $select.search}">
                                    <div>{{color.COLOR_NAME}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-xs-4 form-group"
                             style="width: 130px">
                            <label class="control-label">Количество</label>
                            <div>{{rc.REALCSPART_COUNT}}</div>
                        </div>

                    </div>
                    <button
                            ng-show="vm.realcspartIsChanged(rc)"
                            ng-click="vm.saveRealcspart(rc)"
                            class="btn btn-primary"
                            >Сохранить изменения
                    </button>
                    <div ng-repeat="cn in rc.cnds" class="row"
                         style="background-color:  #eee;padding: 10px 0 10px 0; margin-top: 10px;" >
                        <div class="col-xs-4">
                            <label class="control-label">Жила </label>
                            <div>{{cn.CONDUCTOR_NAME}}</div>
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label">Цвет</label>
                            <ui-select ng-show="vm.colors.length"
                                       ng-model="cn.COLOR_ID" theme="bootstrap"
                                    >
                                <ui-select-match placeholder="Введите цвет...">
                                    {{$select.selected.COLOR_NAME}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="color.COLOR_ID as color in vm.colors | filter: {COLOR_NAME: $select.search}">
                                    <div>{{color.COLOR_NAME}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-xs-4">
                            <button
                                    style="margin-top: 25px;"
                                    ng-show="vm.cndIsChanged(rc, cn)"
                                    ng-click="vm.saveCnd(rc, cn)"
                                    class="btn btn-primary"
                                    >Сохранить
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <div ng-show="vm.checkRole([1,2])">
                    <div class="row">
                        <div class="col-sm-2" ng-show="!vm.isNewRealcspart">
                            <button
                                    ng-click="vm.addRealcspart()"
                                    class="btn btn-primary">Добавить группу
                            </button>
                        </div>
                        <div class="col-sm-1" ng-show="vm.isNewRealcspart">
                            <button
                                    ng-click="vm.cancelAddRealcspart()"
                                    class="btn btn-danger">Отмена
                            </button>
                        </div>
                        <div class="col-sm-2" ng-show="vm.isNewRealcspart">
                            <button type="submit"
                                    ng-click="vm.createRealcspart()"
                                    class="btn btn-success">Сохранить
                            </button>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 10px" ng-show="vm.isNewRealcspart">

                        <div class="col-xs-4">
                            <label class="control-label">Группа жил</label>
                            <ui-select ng-show="vm.csparts.length"
                                       ng-model="vm.newRealcspart.CSPART_ID" theme="bootstrap"
                                    >
                                <ui-select-match placeholder="Введите группу...">
                                    {{$select.selected.CSPART_NAME}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="c.CSPART_ID as c in vm.csparts | filter: {CSPART_NAME: $select.search}">
                                    <div>{{c.CSPART_NAME}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label">Цвет</label>
                            <ui-select ng-show="vm.colors.length"
                                       ng-model="vm.newRealcspart.COLOR_ID" theme="bootstrap"
                                    >
                                <ui-select-match placeholder="Введите цвет...">
                                    {{$select.selected.COLOR_NAME}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="color.COLOR_ID as color in vm.colors | filter: {COLOR_NAME: $select.search}">
                                    <div>{{color.COLOR_NAME}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-xs-4 form-group"  ng-form="csForm"
                             style="width: 130px"
                             ng-class="{'has-error': csForm.vol_field.$dirty && csForm.vol_field.$invalid}">
                            <label class="control-label">Количество</label>
                            <input class="form-control" type="number" step="1" min="1"
                                   ng-model="vm.newRealcspart.count" name="vol_field"
                                   style="width: 100px">
                            <!-- <label class="control-label"
                                    ng-show="csForm.vol_field.$dirty && csForm.vol_field.$invalid">
                                 Введите целое число</label>-->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</div>
