<div class="container" ng-controller="CablestructuresCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>Сечения
    </h1>

    <form name="form" class="form-horizontal" ng-if="vm.dataIsLoaded">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success"
                        ng-show="!vm.isCreating && vm.checkRole([1,2])"
                        ng-disabled="vm.loading"
                        ng-click="vm.createClick()"> Добавить
                </button>
                <button type="button" class="btn btn-danger"
                        ng-show="vm.isCreating"
                        ng-disabled="vm.loading"
                        ng-click="vm.cancelCreate()"> Отмена
                </button>
                <button type="submit"
                        ng-show="vm.isCreating"
                        ng-click="vm.createCablestructure()"
                        ng-disabled="vm.loading"
                        class="btn btn-success">Сохранить
                </button>

            </div>

        </div>
        <div ng-show="vm.isCreating ">

            <div class="form-group" >
                <label class="col-sm-3 control-label">Название</label>

                <div class="col-sm-9">
                    <input class="form-control" ng-model="vm.newCablestructure.name">
                </div>

            </div>


        </div>

    </form>

    <div ng-show="vm.dataIsLoaded && vm.list.length == 0">Сечений еще нет</div>
    <div ui-grid="vm.gridOptions1" ng-if="vm.dataIsLoaded && vm.list.length" class="grid">
    </div>


</div>
