<div class="container" ng-controller="MplanByDateCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>План станков по дате</h1>

    <div class="row">

        <div class="col-xs-2" style="  min-width: 200px;">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="vm.dateFrom"

                       is-open="openedFrom" min-date="'2015-01-01'" max-date="vm.dateTo"
                       datepicker-options="{'starting-day': 1}" show-button-bar="false"
                       placeholder="Дата начала"
                       ng-change="vm.load()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="$event.stopPropagation();openedFrom=!openedFrom"><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span>
            </p>
        </div>

        <div class="col-xs-2" style="  min-width: 200px;">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="vm.dateTo"
                       is-open="openedTo" min-date="vm.dateFrom" max-date="'2020-01-01'"
                       datepicker-options="{'starting-day': 1}" show-button-bar="false"
                       placeholder="Дата конца"
                       ng-change="vm.load()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$event.stopPropagation();openedTo=!openedTo"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-xs-7">
            <div
                    isteven-multi-select
                    input-model="vm.data"
                    output-model="vm.selectedData"
                    button-label="title"
                    item-label="title"
                    tick-property="ticked"
                    translation="vm.localLang"
                    helper-elements="all none filter"
                    ng-if="vm.data.length">
            </div>

        </div>
    </div>
    <div class="row" ng-if="vm.dateFrom && vm.dateTo">
        <div class="col-xs-2">
            <a target="_blank" ng-href="/api/mplan/date/print?from={{vm.dateFrom.toISOString()}}&to={{vm.dateTo.toISOString()}}">Задание на смены</a>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-xs-2" style="  min-width: 200px;">
            <button type="button" class="btn btn-primary"
                    ng-click="vm.newElement();">
                <i class="glyphicon glyphicon-plus"></i>
                Добавить элемент
            </button>
        </div>
    </div>

    <div class="row col-xs-12" style="  width: 1130px; overflow-x: auto; margin-top: 10px">
        <table class="table table-bordered"
               ng-if="vm.hoursCells.length && vm.selectedData.length">
            <!--  <thead>
            <tr>
                  <td style="background-color: #d8fad0" >Станки</td>

                  <td ng-repeat="cell in vm.detailsCells"
                          colspan="{{cell.colspan}}">
                      {{cell.data.DETAILTYPE_NAME}} {{cell.data.DETAIL_DATE | date: 'dd.MM'}}
                     (<a target="_blank" ng-href="/api/detail?id={{cell.data.DETAIL_ID}}">Распечатать наряд</a>)
                  </td>
              </tr>

              </thead>-->
            <tbody ng-repeat="machine in vm.selectedData" style="border-top: 2px solid #049e07;">


            <tr ng-repeat="row in machine.rows">
                <td ng-if="$first" rowspan="{{machine.rows.length}}"
                    style="background-color: #c7fab2; white-space: nowrap;">
                    {{machine.title}}
                </td>
                <td ng-repeat="period in row" style="background-color: #d8fad0"
                    plan-cell
                    period="period"
                    machines="vm.machines"
                    operations="vm.operations"
                    on-loading="vm.onLoading(isLoading)"
                    load="vm.load()">

                </td>

            </tr>
            </tbody>
        </table>


    </div>
</div>
