<div class="container" ng-controller="MplanCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>
    <h1>План станков</h1>
    <div class="" >
        <div id="grid1" ui-grid="vm.gridOptions1" ng-if="!vm.loading" class="grid">


        </div>
    </div>
</div>
