<div class="container" ng-controller="CspartsCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>Группы жил
    </h1>

    <form name="form" class="form-horizontal" ng-if="vm.dataIsLoaded">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success"
                        ng-show="!vm.isCreating && vm.checkRole([1,2])"
                        ng-disabled="vm.loading"
                        ng-click="vm.createClick()"> Добавить
                </button>
                <button type="button" class="btn btn-danger"
                        ng-show="vm.isCreating"
                        ng-disabled="vm.loading"
                        ng-click="vm.cancelCreate()"> Отмена
                </button>
                <button type="submit"
                        ng-show="vm.isCreating"
                        ng-click="vm.createCspart()"
                        ng-disabled="vm.loading"
                        class="btn btn-success">Сохранить
                </button>

            </div>

        </div>
        <div ng-show="vm.isCreating ">
            <div class="row" ng-repeat="obj in vm.newCspart track by $index">
                <div class="col-sm-3 control-label">
                    Жила
                </div>
                <div class="col-sm-3 " style="width:300px; padding-top: 7px;" >
                    {{obj.CONDUCTOR_NAME}}
                </div>
                <div class="col-sm-1" style="color: darkred" >
                    <span class="glyphicon glyphicon glyphicon glyphicon-remove btn"
                          style="cursor: pointer"
                          ng-click="vm.removeFromCspart(obj)"></span>
                </div>

            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label">Добавить жилу</label>

                <div class="col-sm-8" >
                    <ui-select ng-show="vm.conductors.length"
                               ng-model="vm.newObject" theme="bootstrap"
                               style="width:300px; display: inline-block;">
                        <ui-select-match placeholder="Введите название...">
                            {{$select.selected["CONDUCTOR_NAME"]}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in vm.conductors | filter : $select.search">
                            <div>{{item["CONDUCTOR_NAME"]}}</div>
                        </ui-select-choices>
                    </ui-select>
                    <button type="submit"
                            ng-click="vm.addToCspart(vm.newObject)"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon glyphicon-plus"></span>
                    </button>
                </div>

            </div>


        </div>

    </form>
    <div ng-show="vm.dataIsLoaded && vm.csparts.length == 0">Групп еще нет</div>
    <div ui-grid="vm.gridOptions1" ng-if="vm.dataIsLoaded && vm.csparts.length" class="grid">
    </div>

</div>
