<div class="container" ng-controller="MnormsCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div edit-grid
         title="'Нормы материалов'"
         load="vm.gridLoad()"
         create="vm.gridAdd(newObject)"
         save="vm.gridSave(gridRow)"
         remove="vm.gridRemove(gridRow)"
         columns="vm.columns"
         access="vm.access()">
    </div>


</div>
