<div>
    <div>
        Вы уверены?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="confirm(true)">Да</button>
        <button type="button" class="btn btn-default" ng-click="confirm(false)">Нет</button>
    </div>

</div>