<div ng-controller="EditGridContr as vm">
    <span ng-show="vm.loading" class="spinner"></span>

    <h1>{{title}}
    </h1>

    <div ng-show="vm.dataIsLoaded && vm.data.length == 0">Данных нет</div>

    <form name="form" class="form-horizontal" ng-if="vm.dataIsLoaded">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success"
                        ng-show="!vm.isCreating && access()"
                        ng-disabled="vm.loading"
                        ng-click="vm.createClick()"> Добавить
                </button>
                <button type="button" class="btn btn-danger"
                        ng-show="vm.isCreating"
                        ng-disabled="vm.loading"
                        ng-click="vm.cancelCreate()"> Отмена
                </button>
                <button type="submit"
                        ng-show="vm.isCreating"
                        ng-click="vm.create()"
                        ng-disabled="vm.loading"
                        class="btn btn-success">Сохранить
                </button>

            </div>

        </div>
        <div ng-show="vm.isCreating && vm.columns.length">
            <div class="form-group" ng-repeat="col in vm.columns | filter : {disableEdit : '!'}">
                <label class="col-sm-3 control-label">{{col.name}}</label>

                <div class="col-sm-4">
                    <input ng-if="col.type=='text'"
                           type="text" class="form-control"
                           ng-model="vm.newObject[col.attr]">
                    <input ng-if="col.type=='float'"
                           type="number" step="any" class="form-control"
                           ng-model="vm.newObject[col.attr]">
                    <input ng-if="col.type=='integer'"
                           type="number" class="form-control"
                           ng-model="vm.newObject[col.attr]">
                    <ui-select ng-if="col.type=='list'"
                               ng-show="vm.dopData[col.attr].length"
                               ng-model="vm.newObject[col.attr]" theme="bootstrap"
                               style="width:300px;">
                        <ui-select-match placeholder="Введите название...">
                            {{$select.selected[col.value_attr]}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in vm.dopData[col.attr] | filter : $select.search">
                            <div>{{item[col.value_attr]}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


        </div>

    </form>
    <div ng-if="vm.dataIsLoaded && vm.data.length">
        <div ng-show="access()">
            Для редактирования щелкните по нужному полю
            <span ng-show="vm.loading" style="color: gray;"> Сохраняется...</span>
        </div>
        <div ui-grid="vm.gridOptions"
             ui-grid-row-edit ui-grid-edit class="grid">
        </div>
    </div>


</div>
