<div class="modal" tabindex="-1" role="dialog" data-animation="am-fade-and-scale">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div id="modalContentDiv" class="modal-body modalText" ng-include="content"></div>
        </div>
    </div>
</div>