<div class="row" style="margin-bottom: 10px">
    <div class="col-xs-3">
        <label class="control-label">Тип</label>
        <ui-select ng-show="cableTypes.length && access() && create"
                   ng-model="cable.cabletype" theme="bootstrap"
                >
            <ui-select-match placeholder="Введите тип...">
                {{$select.selected.CABLETYPE_NAME2}}
            </ui-select-match>
            <ui-select-choices
                    repeat="c in cableTypes | filter: {CABLETYPE_NAME2: $select.search}">
                <div>{{c.CABLETYPE_NAME2}}</div>
            </ui-select-choices>
        </ui-select>
        <div ng-hide="create">{{cable.cabletype.CABLETYPE_NAME2}}</div>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Сечение</label>
        <ui-select ng-show="cableStructures.length && access() && create"
                   ng-model="cable.cablestructure" theme="bootstrap"
                >
            <ui-select-match placeholder="Введите сечение...">
                {{$select.selected.CABLESTRUCTURE_NAME}}
            </ui-select-match>
            <ui-select-choices
                    repeat="str in cableStructures | filter: {CABLESTRUCTURE_NAME: $select.search}">
                <div>{{str.CABLESTRUCTURE_NAME}}</div>
            </ui-select-choices>
        </ui-select>
        <div ng-hide="create">{{cable.cablestructure.CABLESTRUCTURE_NAME}}</div>
    </div>
    <div class="col-xs-2 form-group"  ng-form="cableForm"
         style="width: 130px"
         ng-class="{'has-error': cableForm.vol_field.$dirty && cableForm.vol_field.$invalid}">
        <label class="control-label">Длина, км</label>
        <input class="form-control" type="number" step="any" min="0"
               ng-model="cable.CABLE_VOL" name="vol_field"
                style="width: 100px"
                ng-disabled="!access() || !create">
       <!-- <label class="control-label"
               ng-show="cableForm.vol_field.$dirty && cableForm.vol_field.$invalid">
            Введите число в формате XX.XX</label>-->
    </div>
    <div class="col-xs-4">
        <label class="control-label">Примечание</label><br/>
        <textarea rows="2" cols="50" ng-model="cable.CABLE_DESC" style="resize: vertical"></textarea>
    </div>
</div>
