<div>
    <form ng-if="params.newPeriod" name="plan">
        <div class="row">

            <div class="col-xs-6" style="margin-top: 15px;">
                <label>Дата начала:</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy"
                           ng-model="params.newPeriod.MPLAN_FROM"
                           ng-change="params.updateDuration()"
                           style="  min-width: 100px;"
                           is-open="openedFrom" min-date="'2015-01-01'" max-date="params.newPeriod.MPLAN_TO"
                           datepicker-options="{'starting-day': 1}" show-button-bar="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="$event.stopPropagation();openedFrom=!openedFrom"><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span>
                </p>
            </div>
            <div class="col-xs-6">
                <timepicker ng-model="params.newPeriod.MPLAN_FROM"
                            hour-step="1"
                            minute-step="15"
                            show-meridian="false"
                            ng-change="params.updateDuration()"></timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" style="margin-top: 15px;">
                <label>Дата конца:</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy"
                           ng-model="params.newPeriod.MPLAN_TO"
                           is-open="openedTo" min-date="params.newPeriod.MPLAN_FROM" max-date="'2020-01-01'"
                           datepicker-options="{'starting-day': 1}" show-button-bar="false"
                           style="  min-width: 100px;"
                           ng-change="params.updateDuration()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$event.stopPropagation();openedTo=!openedTo"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
            <div class="col-xs-6">
                <timepicker ng-model="params.newPeriod.MPLAN_TO"
                            hour-step="1"
                            minute-step="15"
                            show-meridian="false"
                            ng-change="params.updateDuration()"
                            ></timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-class="{'has-error': plan.dur.$dirty && plan.dur.$invalid}">
                <label>Изменить продолжительность: </label>
                <input type="number" step="1" min="1" class="form-control"
                       ng-model="params.newPeriod.MPLAN_DURATION"
                       name="dur"
                       style="width: 68px;  display: inline-block"
                       ng-change="params.updateDateTo()">
                ч.
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <label>Операция: </label>
                <ui-select ng-show="params.operations.length"
                           ng-model="params.operation" theme="bootstrap"
                           style="width:300px;">
                    <ui-select-match placeholder="Введите операцию...">
                        <span ng-show="$select.selected.OPERATION_NAME">{{$select.selected.OPERATION_NAME}}
                        ({{$select.selected.OPERATION_TYPE | operation_type}})
                            </span>
                        <span ng-hide="$select.selected.OPERATION_NAME">не выбрано</span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="item in params.operations | filter : $select.search">
                        <div>{{item.OPERATION_NAME}}
                            ({{item.OPERATION_TYPE | operation_type}})
                        </div>
                    </ui-select-choices>
                </ui-select>
                <span ng-hide="params.operations.length">Список операций не получен</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <label>Станок: </label>
                <ui-select ng-show="params.machines.length"
                           ng-model="params.machine" theme="bootstrap"
                           style="width:300px;">
                    <ui-select-match placeholder="Введите название станка...">
                        {{$select.selected.MACHINE_NAME}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="item in params.machines | filter : $select.search">
                        <div>{{item.MACHINE_NAME}}
                        </div>
                    </ui-select-choices>
                </ui-select>
                <span ng-hide="params.operations.length">Список станков не получен</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <a ng-click="params.changeImportant()">
                    <span class=" glyphicon "
                          ng-class="{'glyphicon glyphicon-unchecked': !params.newPeriod.MPLAN_IMPORTANT,
                                      'glyphicon glyphicon-check': params.newPeriod.MPLAN_IMPORTANT}"
                            >
                                      </span>

                </a>
                <span>Пометить заказ как срочный</span>
            </div>
        </div>

    </form>
    <div class="modal-footer">
        <button ng-show="params.save" type="button" ng-disabled="!params.haveChanges()" class="btn btn-primary" ng-click="params.save();confirm(true)">
            Сохранить
        </button>
        <button ng-show="params.add" type="button"  class="btn btn-primary" ng-click="params.add();confirm(true)">
            Добавить
        </button>
        <button type="button" class="btn btn-default" ng-click="confirm(false)">Отмена</button>
    </div>

</div>