<h2>Заказы на месяц</h2>
<div class="row">

    <div class="col-xs-6" style="margin-top: 15px;">
        <label>Выберите период:</label>

        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="MMMM yyyy"
                   ng-model="params.period"
                   style="  min-width: 100px;"
                   is-open="openedFrom"
                   datepicker-mode="'month'"
                   min-mode="'month'"
                   datepicker-options="{'starting-day': 1}" show-button-bar="false"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="$event.stopPropagation();openedFrom=!openedFrom"><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button  type="button" ng-disabled="!params.period" class="btn btn-primary" ng-click="confirm(true)">
        Получить
    </button>
    <button type="button" class="btn btn-default" ng-click="confirm(false)">Отмена</button>
</div>