<div>
    <form name="plan">
        <p style="font-size: 20px;">
            {{params.operation.OPERATION_NAME}} ({{params.operation.OBJ_NAME}})
        </p>

        <p style="font-size: 20px;">
            c <strong> {{params.MPLAN_FROM | date: "HH.mm dd.MM.yyyy"}}</strong>
            по <strong> {{params.MPLAN_TO | date: "HH.mm dd.MM.yyyy"}}
        </strong>
        </p>

        <table class="table table-bordered" style="text-align: center">
            <tr>
                <th style="width: 50%; text-align: center">ФАКТ</th>
                <th style="text-align: center">НОРМА</th>
            </tr>
            <tr>
                <td colspan="2">ОБЪЕМ</td>
            </tr>
            <tr>
                <td>
                    <div ng-class="{'has-error': plan.vol.$dirty && plan.vol.$invalid}">
                        <input type="number" step="1" min="0" class="form-control"
                               ng-model="params.operation.MPLAN_VOL"
                               name="vol">
                    </div>
                </td>
                <td style="padding-top: 15px;">
                    {{params.operation.MPLANSTACK_VOL}}
                </td>
            </tr>
            <tr>
                <td colspan="2">ПРОДОЛЖИТЕЛЬНОСТЬ</td>
            </tr>
            <tr>
                <td>
                    <div ng-class="{'has-error': plan.dur.$dirty && plan.dur.$invalid}">
                        <input type="number" step="1" min="0" class="form-control"
                               ng-model="params.operation.MPLAN_DURATION"
                               ng-change="params.setTo()"
                               name="dur">
                    </div>
                </td>
                <td style="padding-top: 15px;">{{params.operation.MPLANSTACK_DURATION}}</td>
            </tr>
        </table>


        <div class="row">
            <div class="col-xs-12">
                <a ng-click="params.changeImportant()">
                    <span class=" glyphicon "
                          ng-class="{'glyphicon glyphicon-unchecked': !params.operation.MPLAN_DONE,
                                      'glyphicon glyphicon-check': params.operation.MPLAN_DONE}"
                            >
                                      </span>

                </a>
                <span>ВЫПОЛНЕННО</span>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button ng-show="params.haveChanges(params.operation, params.copyOperation)"
                type="button" class="btn btn-primary"
                ng-click="params.save(params.operation);confirm(true)">
            Сохранить
        </button>
        <button type="button" class="btn btn-default" ng-click="confirm(false)">Отмена</button>
    </div>

</div>