<td colspan="{{period.colspan}}" style="padding: 0; white-space: nowrap; min-width: 20px">
    <div ng-if="period.MPLAN_FROM"
         ng-controller="PlanCellContr as vm"
         ng-click="vm.click()"
         style="border: 2px solid #42bafa; border-radius: 4px; padding: 3px"
         ng-style="{'background-color': period.MPLAN_IMPORTANT == 1 ? '#F2C9B9': '#d1e1fa'}">
        <a class="pull-right"
           ng-click="vm.removeItem(period); $event.stopPropagation();">
            <span class="glyphicon glyphicon-remove" style="font-size: 20px;"></span>
        </a>
        <p style="margin-right: 30px">
            <strong>{{ period.MPLAN_FROM | date: 'HH:mm'}}</strong> {{ period.MPLAN_FROM | date: 'dd.MM'}}
            -
            <strong>{{ period.MPLAN_TO | date: 'HH:mm'}}</strong> {{ period.MPLAN_TO | date: 'dd.MM'}}
            ({{ period.MPLAN_DURATION | number: 1}} ч.)


        </p>

        <p ng-if="period.PURCHASE_NO"
                ><a ui-sref="main.order({order_id:period.PURCHASE_ID})"
                ng-click="$event.stopPropagation();">
            Заказ №{{period.PURCHASE_NO}}</a>:
            <br/>
            {{period.OBJ_NAMES}} - {{period.OBJ_VOL | number: 2}}
        </p>

        <p><strong>Тип операции: </strong>{{period.OPERATION_TYPE | operation_type}}
            <br/>
            <strong>Операция: </strong>{{period.OPERATION_NAME}}
        </p>

    </div>


</td>