<div style="width: 90px;  height: 50px;">
    <button type="file" class="btn btn-primary"
            style="font-size: 14px"
            ngf-select="uploadFiles($file)"
            accept="{{accept}}"
            ngf-pattern="{{accept}}"
            ngf-max-size="20MB"
            title="{{title}}"
            ng-disabled="loading">
        <span class="glyphicon glyphicon-download-alt" ></span>
    </button>
    <div class="spinner-small" ng-show="loading"
         style="  top: -34px;  left: 45px;  position: relative;"></div>
</div>


